//@theme "/nix/store/3baxl23rf3s4fnhgds5w11vs4ay9vlmf-rofi-1.7.5/share/rofi/themes/Arc-Dark.rasi"
@theme "/nix/store/q1wm84g65smaq4agq7zp40q57x3534ni-rofi-1.7.5/share/rofi/themes/android_notification.rasi"
